.mainTitleWrap {
  background: oklch(0.198 0.007 265);
  position: absolute;
  top: -28px;
  padding: 8px 0 6px 0;
  font-size: 12px;
  width: 104px;
  text-align: center;
  color: oklch(0.96 0.003 265);
  text-transform: uppercase;
}

.mainTitleWrap .mainTitle {
  font-size: 12px;
  text-transform: uppercase;
}

.topLine {
    background: oklch(0.62 0.17 256);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
  }